---
import type { Post, Comment }  from "../blog/index.astro";
import PostLayout from "../../layouts/PostLayout.astro";
import HeaderLink from "../../components/HeaderLink.astro";
import BlogComment from "../../components/BlogComments.astro";
import BlogCommentForm from "../../components/BlogCommentForm.astro";
import { getAllPostData } from "../../constants/queries";
import { getReadingTime } from "../../utils/readingTime";
import  PostContentBlock  from "../../components/post-content/PostContentBlock";

export async function getStaticPaths(){
    const posts:Post[] = await getAllPostData();
    return posts.map(({slug, title, postCategory, comments, numOfComment, body, publishedAt, author, description}) => {
        return {
            params:{post:slug.current},
            props:{title, postCategory, numOfComment, comments, body, publishedAt, author, description,},

        };
    });
}
const {
    description,
    title,
    postCategory,
    updated,
    author,
    body,
    publishedAt,
    numOfComment,
    comments,
} = Astro.props;
---

<PostLayout title="Sharing"
ogTitle="A post from Adebola Adesina"
description={description}
>    
<article  class="grid grid-cols-1 gap-y-16">
        <div class="grid grid-cols-[auto_1fr] gap-4">
            <a href="" class="w-10 h-10">
            <img src={author.authorAvatar} alt={`Head shot for ${author.name}`} class="rounded-full" width="80" height="80"/>
            </a>
            <div>
                <h2 class="font-bold m-0 p-0">{author.name}</h2>
                <p class="mt-[-3px]"><time datetime={publishedAt}
                    >{
                        new Date(publishedAt).toLocaleDateString("en-us", {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                        })
                    }</time
                ></p>
            </div>
        </div>
            <div class="media__details mb-12">
                <h3 class="text-fluid-2 mb-6">Wrote: {title}</h3>
                <div class="">
                    <div class="text-center text-fluid-1 flex gap-2">
                        <iconify-icon
                            class=""
                            icon="tabler:category"
                            style="color:black;"
                            width="24"
                            height="24"></iconify-icon>
                        <span class="la:block">{postCategory.join(" ")}</span>
                    </div>
                    <div class="text-center text-fluid-1 flex gap-2">
                        <iconify-icon
                            class=""
                            icon="fluent-emoji-flat:mantelpiece-clock"
                            style="color: black;"
                            width="24"
                            height="24"
                            class="icon"
                        >
                        </iconify-icon>
                        <span class="">~{getReadingTime(body).readingTime}mins read</span>
                    </div>
                    <div class="text-center text-fluid-1 flex gap-2">
                        <iconify-icon
                            class=""
                            icon="mdi:calendar-month-outline"
                            style="color: black;"
                            width="24"
                            height="24"
                            class="icon"
                        >
                        </iconify-icon>
                        <p><time datetime={publishedAt}></time>{
                            new Date(publishedAt).toLocaleDateString("en-us", {
                                year: "numeric",
                                month: "short",
                                day: "numeric",
                            })
                        }<time datetime={updated && updated}
                            >{
                                updated &&
                                    new Date(updated).toLocaleDateString(
                                        "en-us",
                                        {
                                            year: "numeric",
                                            month: "short",
                                            day: "numeric",
                                        }
                                    )
                            }</time
                        ></p>
                    </div>
                    <div class="text-center text-fluid-1 flex gap-4">
                        <p class="posts__comment ml-2 text-fluid-1">Comment</p>
                        <span class="block">{numOfComment}</span>
                    </div>
                    <div class="text-center text-fluid-1 flex gap-4">
                        <HeaderLink
                            href="https://www.twitter.com/Dr3_147"
                            class="text-fluid-2 text-fg-dark"
                            target="_blank"
                        >
                            <iconify-icon
                                icon="pajamas:twitter"
                                width="24"
                                height="24"
                                class="social"></iconify-icon>
                        </HeaderLink>
                        <span>Share Post</span>
                    </div>
                </div>
            </div>
            <PostContentBlock children={body}/>
        </article>
        <h3
            class="grid grid-cols-[1fr_auto_1fr] gap-4 items-center mb-12 font-bold text-fluid-1 before:block before:h-4 before:bg-gradient-to-r before:from-brand-secondary-light before:to-brand-light  after:block after:h-4 after:bg-gradient-to-l after:from-brand-secondary-light after:to-brand-light"
        >
            Readers Comments
        </h3>
        <ul class="comments border-2 border-solid p-8">
          { comments.map((comment:Comment) => <BlogComment comment={comment}/> )}
          <BlogCommentForm/>
        </ul>
</PostLayout>
