---
import BaseHead from '../../components/BaseHead.astro';
import Nav from "../../components/Nav.astro";
import Header from '../../components/BlogHeader.astro';
import BlogHeading from '../../components/BlogHeading.astro';
import Featured from '../../components/BlogFeatured.astro';
import BlogLink from "../../components/BlogLink.astro";
import Categories from "../../components/BlogCategories.astro";
import Footer from "../../components/BlogFooter.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
// 	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
// );
// const featuredPost = posts.find(post => ( post.frontmatter.description === "Featured"));
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Nav/>
		<Header />
		<main class="p-8 mx-auto my-48 max-w-screen-md bg-brand-light-surface1 overflow-hidden">
			<article class="grid grid-cols-1 gap-y-16">
			<BlogHeading/>
			<Categories/>
			<!-- {  <Featured pubDate={featuredPost!.frontmatter.pubDate}
			title={featuredPost!.frontmatter.title}
			readTime={featuredPost!.frontmatter.readTime}
			categories={featuredPost!.frontmatter.categories}
			url={featuredPost!.url}
			numOfComment={featuredPost!.frontmatter.numOfComment}
			/>}
					{posts.map((post) => (
							<ul id="posts" class="">
							<BlogLink  pubDate={post.frontmatter.pubDate}
									title={post.frontmatter.title}
									readTime={post.frontmatter.readTime}
									url={post.url}
									categories={post.frontmatter.categories}
									numOfComment={post.frontmatter.numOfComment}
					/></ul>))} -->
			</article>	
		</main>
		<Footer />
	</body>
</html>
