---
 export type Comment = {
		commentBody:string,
		title:string,
		publishedAt:string,
		commenter:{
			name:string,
			commenterAvatar:string,
		}
	}
export type Post = {
	title:string,
	publishedAt:string,
	description:string,
	numOfComment:number,
	slug:{
		current:string,
	},
	postCategory:string[],
	comments:Comment[],
	body:string,
	author:{
		name:string,
		authorAvatar:string,
	},
	
}
import BaseHead from "../../components/BaseHead.astro";
import Nav from "../../components/Nav.astro";
import Header from "../../components/BlogHeader.astro";
import BlogHeading from "../../components/BlogHeading.astro";
import Featured from "../../components/BlogFeatured.astro";
import BlogLink from "../../components/BlogLink.astro";
import Categories from "../../components/BlogCategories.astro";
import Footer from "../../components/BlogFooter.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";
import { getPostLinks } from "../../constants/queries";
import { getReadingTime } from "../../utils/readingTime";
const posts = await getPostLinks();
// const featuredPost = posts.find(post => ( post.frontmatter.description === "Featured"));
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Nav />
		<Header />
		<main
			class="p-8 mx-auto my-48 max-w-screen-md bg-brand-light-surface1 overflow-hidden"
		>
			<article class="grid grid-cols-1 gap-y-16">
				<BlogHeading />
				<Categories />
				<!-- <Featured pubDate={featuredPost!.frontmatter.pubDate}
			title={featuredPost!.frontmatter.title}
			readTime={featuredPost!.frontmatter.readTime}
			categories={featuredPost!.frontmatter.categories}
			url={featuredPost!.url}
			numOfComment={featuredPost!.frontmatter.numOfComment}
			/> -->
				<ul id="posts" class="">
					{
						posts.map((post:Post) => (
							<BlogLink
								pubDate={post.publishedAt}
								title={post.title}
								readTime={getReadingTime(post.body).readingTime}
								url={`/posts/${post.slug.current}`}
								category={post.postCategory.join(" ")}
								 numOfComment={post.numOfComment}
							/>
						))
					}
				</ul>
			</article>
		</main>
		<Footer />
	</body>
</html>
