---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';
import BlogHeading from '../components/BlogHeading.astro';
import Featured from '../components/BlogFeatured.astro';
import BlogLink from "../components/BlogLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="p-4 mx-auto my-0 max-w-screen-md">
			<article>
			<BlogHeading/>
			<Featured/>
					{posts.map((post) => (
							<>
							<BlogLink  pubDate={post.frontmatter.pubDate}
									title={post.frontmatter.title}
									readTime={post.frontmatter.readTime}
									url={post.url}
									categories={post.frontmatter.categories}
									numOfComment={post.frontmatter.numOfComment}
					/></>))}
			</article>	
		</main>
		<Footer />
	</body>
</html>
