---
const heroQuote  = {...(await (await fetch(`https://api.api-ninjas.com/v1/quotes?category=inspirational`, {
    headers:{
        'X-Api-Key':import.meta.env.INSPIRATIONAL_QUOTE,
    },})).json())[0]};
    const { author, quote } = heroQuote;
    const date = new Date();
    const year = date.getFullYear();
    const today = date.getDate();
    const month = date.getMonth()+1;
    const todayDate = `${year}-${month}-${today}`;
    const heroImageSrc = (await (await fetch(`https://api.nasa.gov/planetary/apod?api_key=${import.meta.env.NASA_API_KEY}&start_date=${todayDate}&end_date=${todayDate}`)).json())[0].url;
---

<header class="w-content-area max-w-full mx-auto grid gap-2 px-4 my-12  h-[100vh]">
    <div class="banner max-w-[100vw] relative transform left-1/2 -translate-x-1/2 aspect-[3/1] bg-surface-4">
    <img src={heroImageSrc} width="750" height="250" class="absolute inset-0 w-full h-full">
    <figure class="absolute left-0 bottom-0 transform translate-y-[50%] bg-surface-1 p-4 pt-8 whitespace-normal w-[50%] max-w-full opacity-70">
    <blockquote cite="" class=""><p class="quote text-fluid--0 text-text-1-accent">{quote}</p></blockquote>
        <figcaption class="text-fluid--2 text-brand-stroke">-{author}<cite></cite></figcaption>
</figure>
    </div>
    
</header>
