---
import { Icon } from "astro-icon"; 
const { url, title, pubDate, numOfComment, updated, readTime, categories } = Astro.props;
---
 <article class="blog__feature feature overflow-hidden relative">
                    
                    <div class="feature__details bg-brand-light-surface2 p-6 drop-shadow-md">
                        <h2 class="feature__title text-fluid-2 mb-6 text-brand-secondary-light-text1 cursor-pointer"><a href={url} class="cursor-pointer">{title}</a></h2>
                        <p class="feature__info">
                            People are often intimidated to learn coding or
                            programming. I know how daunting it can be when
                            you're misguided or when the information been fed
                            are blury and overwhelming. I was a victim of
                            infinite coding informations which led to tutorial
                            hell,
                            poor techniques with no structural and learning
                            foundation.
                            I promised myself to do better once I master the
                            aforementioned
                            skills. So here I am fulfilling that promise with a
                            straight to the point and crisp information for
                            beginners.
                        </p>
                        <div class="feature__icons mt-6">
                        <span class="feature__icon flex gap-4 items-center">
                            <svg  width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM9 9H5V5h4v4zm11-6h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 6h-4V5h4v4zm-9 4H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm-1 6H5v-4h4v4zm8-6c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm0 6c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2z"/></svg>
                            <span>{categories}</span>
                        </span>
                        <span class="feature__icon flex gap-4 items-center">
                           <Icon name="noto:mantelpiece-clock" width="24" height="24"></Icon>
                             <span>~{readTime}mins read.</span>
                        </span>
                        <span class="feature__icon flex gap-4 items-center">
                            <Icon name="mdi:calendar-month-outline"
                                style="color: black;" width="24" height="24"
                                class="icon"/>
                            <time datetime={pubDate} >{new Date(pubDate).toLocaleDateString('en-us', {
										year: 'numeric',
										month: 'short',
										day: 'numeric',
									})}</time><time
                                class="updated">{updated && updated}</time>
                        </span>
                        <p class="comment pl-2 mt-4">Comments <span>{numOfComment}</span></p>
                        </div>
                    </div>
                  <img class="w-full object-cover aspect-square la:w-[50%]"
                            src="/asset/demos/programming.jpg" alt="Image of a programmer">
                    <div class="feature__label bg-brand-light-surface2 absolute  pt-8 pb-32 pl-[43%] pr-[55%] right-0 bottom-0 -rotate-45 translate-x-[47%] translate-y-[20%] origin-[50%_50%] la:translate-x-[52%]">
                        <span class="feature__label-text block text-fluid-1 uppercase text-brand-light">Featured</span>
                    </div>

                </article>