---
const { comment } = Astro.props;
const {commenterAvatar, name} = comment.commenter; 
---
 <li class="comments__comment">
                <div class="comments__comment__commenter">
                    <img src={commenterAvatar} alt={`Head shot for ${name}`} class="rounded-full" width="80" height="80"/>
                    <div class="comments__comment__commenter__details">
                        <h2>{name}</h2>
                        <time datetime={comment.publishedAt}>{
                                new Date(comment.publishedAt).toLocaleDateString(
                                    "en-us",
                                    {
                                        year: "numeric",
                                        month: "short",
                                        day: "numeric",
                                    }
                                )
                            }</time>
                    </div>
                </div>
                <div class="comments__comment__body">{comment.commentBody}</div>
            </li>