---
import Footer from "../components/footer/footer.jsx";
import Nav from "../components/nav/nav.jsx";
import "../styles/main.css";
import "../styles/logo.css";
import getRoutes from "../constants/routes.js";

export interface BaseHeadProps {
	ogTitle: string;
	ogGradient:string;
	ogHue:string;
	description:string;
	title:string;

}

const { ogTitle, ogGradient, ogHue, post } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
let params = ``;
if(ogGradient) params+=`&gradient=${ogGradient}`;
if(ogHue) params+=`&hue=${ogHue}`;

let ogImageSrc = `https://aadesina.netlify.app/og?title=${encodeURIComponent(ogTitle)}${params}`
const title = `${Astro.props.title || "Hey! I'm Adebola Adesina"} - aadesina.com`;
const description = Astro.props.description || "A passionate developer making awesome things";
const openGraphTitle = ogTitle || Astro.props.title || "A post from Adebola";

// For local testing of the edge function
//  const ogImageSrc = 

const navItems = getRoutes('home')
---
<!DOCTYPE html>
<html lang="en-us" data-theme="system">
<head>
<title>{title}</title>
<meta charset="utf-8" />
<meta name="description" property="og:description" content={description} />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
<meta name="theme-color" content="#E85D04"/>
<link rel="manifest" href="/manifest.json"/>
<link rel="icon" href="/icons/favicon-32x32.png" type="image/png" sizes="16x16"/>
<link rel="shortcut icon" href="/icons/favicon-32x32.png"/>
<link rel="icon" type="image/svg+xml" href="/icons/favicon.ico" />
<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200..900&display=swap" rel="stylesheet">
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />
<meta name="generator" content={Astro.generator}/>
<meta name="image" content={ogImageSrc}/>
<meta name="image" property="og:image" content={ogImageSrc}/>
<meta name="author" content="Adebola Adesina"/>
<meta name="og:image"content={ogImageSrc}/>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content={title}/>
<meta property="og:url" content="aadesina.com" />
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>
<meta property="og:title" content={openGraphTitle} />
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={ogTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:creator" content="@Dr3_147"/>
<meta name="twitter:image" content={ogImageSrc} />
</head>
<body>
	<svg aria-hidden="true" class="watermark-logo"  viewBox="0 0 91 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#E85D04" fill-rule="evenodd" d="M23.088 0h46.79l.326.82L89.53 49.387l.718 1.807H79.688l-.3-.882-6.39-18.809h-9.13l-7.845 18.89-.332.8H34.593l-.3-.881-6.39-18.809H18.77l-7.844 18.89-.332.8H0l.84-1.86L22.742.763 23.088 0ZM19.86 28.88h7.15l-3.218-9.47-3.931 9.47Zm5.27-13.557 4.906 14.44 6.39 18.806h4.901L23.84 4.621 4.02 48.569h4.867L16.73 29.68l5.996-14.44 1.307-3.146 1.097 3.229Zm19.502 34.563L27.51 6.856 40.126 38.56l4.507 11.325 1.302-.553 4.266-9.459L65.3 6.397 45.935 49.333l-1.302.553ZM27.999 2.626H64.83L52.26 19.952v-.263H38.195L27.999 2.625Zm11.764 19.69 4.87 8.15 5.913-8.15H39.763ZM68.936 4.62l-19.82 43.948h4.867l7.844-18.889 5.996-14.44 1.307-3.146 1.097 3.229 4.906 14.44 6.39 18.806h4.901L68.936 4.621Zm-.047 14.79-3.931 9.468h7.148l-3.217-9.468Z" clip-rule="evenodd"/>
					</svg>
	<Nav items={navItems} post={Astro.props?.post}/>
	<Fragment>
		<slot/>
  	</Fragment>
	<Footer items={navItems} post={Astro.props?.post} currentPage={Astro.props?.currentPage} />
</body>
</html>
<script>
		import '../scripts/themeToggle.js'
        import '../scripts/pages.js'
</script>
